<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/processForm}" method="POST">
        <input type="text" name="title" placeholder="title" />
        <br>
        <input type="text" name="content" placeholder="content" />
        <br>
        <input type="text" name="tags" placeholder="tags"/>
        <br>
        <input type="submit" value="Publish" />
    </form>
</body>
</html>